/* ESTILOS GENERALES */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color:#000;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

.contenedor {
	width: 90%;
	max-width: 1200px;
    background-size: cover;
    background-image: url('../img/lcustomer.jpg');
    background-position:center;
	margin-left: auto; 
	margin-right: auto;
    margin-top: 15px;
    padding: 20px 30px;
    position: relative;
    z-index: 99;
    opacity: .85;
}

.contenedor.header {
    height: calc(100vh - 55px);
    border: 3px solid #555555;
}

/*menu*/
nav {
    margin:auto;
    position: relative;
    border-bottom: none;
    width: 1000px;
    font-family: 'Lato', sans-serif;
    border-radius: 1px;
    text-transform: uppercase;
    font-size: 19px;  
    border-bottom: 1px solid transparent;
    transition: .5s ease;
}

ul, ol {
    list-style:none;
}

nav > li{
    position: relative;
    float: left;
}
nav ul {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    list-style:none;
    padding-right:0;
    margin:0;
    overflow:hidden ;
}

nav > ul> li{
    float:auto;
}

nav ul li a{
    text-decoration:none ;
    color:rgb(208, 255, 0);
    display: block;
    padding:10px 20px;
}

nav ul li a:hover {
    background:transparent;
}

nav > ul > li:hover div{
    display:inline-table;
}

nav a {
    text-decoration: none;
    color: rgb(208, 255, 0);
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: .5s ease;
    }
    
nav a:hover {
    color: #3dd8ff;
    border-bottom: 1px solid currentcolor;
    }
    

/*Submenu*/


nav ul li div{
    width:90px;
    position:absolute;
    background:transparent;
    box-sizing:border-box;
    display:none;
}
nav ul li div ul{
    width: auto;
    display: table-cell;
    border-right: 1px solid rgba(255,255,255,.5);
    box-sizing: border-box;
}
nav ul li div ul:last-child{
    border:none;
}
nav ul li div ul li a{
    color:cyan;
}
nav ul li div ul li a:hover{
    color:rgba(255, 255, 255, 0.986);
}
  
/*contenido*/
.contenido-descripcion {
    width: 60%;
    display: flex;
    height: 100%;
    align-items: center;
}

.contenido-descripcion .titulo {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.contenido-descripcion .titulo span:first-child {
    font-size: 50px; 
    display: block;
    font-weight: 300;
}

.contenido-descripcion .titulo span:last-child {
    font-weight: 900;
    font-size: 100px;
}

.contenido-descripcion .btn-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 25px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #ecff3d;
    border: 1px solid #555555;
    animation: parpadeo 2s linear infinite;
    transition: .7s ease;
}

.contenido-descripcion .btn-link:hover {
    border: 1px solid #f307df;
    animation: none;
}


/*Footer*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #f8fc05;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #95ee06;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #f8fc05;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 10px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #f8fc05;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #f8fc05;
}

@keyframes parpadeo  {
    0%, 41%, 45%, 47%, 49.5%, 100%  { 
        opacity: 1;
    }

    42%, 44%, 46%,48%,  50%  { 
        opacity: 0; 
    }
}

             /* ----1---*/
             

.contenedor_todo{
    width: 100%;
    position: relative;
}

.caja_tra{
    width: 100%;
    margin-top: 40px;/*lo separa de la imagen/logo*/
    padding: 20px 40px;/*lo separa de la columna izquierda a derecha*/
    display: flex; /*lo junta con los botones y texto*/
    justify-content: center;
    background-color:rgba(0, 128, 255, 0.3);/*le da color encima del texto y boton, escribir rgba y los numeros*/
    height: 100px;/*le da tamaño del color*/
    backdrop-filter: blur(2px);/*le da color/filtro con el fondo deel cuadrado azul*/
}

.caja_tra div{
    margin: 200px 150px;/*le da espacio y lejanura en el recuadro azul de los que hay en los div de las cajas */
    color: #ee7606;/*le da color al texto encerrado en el div*/  
}

.caja_tra div p, /*--configurar los textos encerrados en los separadores p--*/
.caja_tra div button{
    margin-top: 30px; /*--configurar los button con el espacio--*/
}

.caja_tra div h3{  /*--configurar los titulos encerrados en h3--*/
    font-weight: 400;  /*--configurar grosor de ambos textos--*/
    font-size: 17px;/*le da tamaño al texto encerrado en el div h3*/   
}

.caja_tra button{
    padding: 8px 50px;/*le da tamaño al boton de las cajas*/
    border: 2px solid brown;/*le da color al borde de todos los boton */
    background-color: transparent;/*color de fondo al boton */
    font-weight: 600;/*grosor del texto del boton */
    cursor: pointer;/*manito para seleccionar el boton */
    color: #fff;/*color del texto blanco del boton */
    transition: all 300ms;/* transicion al pasar el pulsor por los botones  */
}
.caja_tra button:hover{   /*--configurar los button con otras configuraciones--*/
    background-color: #000;  /*--para darle color de fondo al boton--*/
    color: #05c2fc;        /*--para darle color de fondo al texto del boton--*/
}


                /* ----2---*/
/*formularios*/

/*--estilos para login y register--*/
.contenedor_login_y_register{
    display: flex;        /* separe los formularios,posicione verticalmente*/
    align-items: center;  /* centrar el formulario */
    width: 100%;          /* grandor del contenedor */
    max-width: 380px;     /* ancho maximo */
    position: relative;   /* se coloca porq en el form se le coloca posicion adsolute */
    top: -185px;          /* centrar el texto del recuadro h2,input,button */
    left: 40px;           /* espacio de la esquina de la pantalla */
}

.contenedor_login_y_register form{
    width: 100%;/*--tamaño del recuadro del fondo a lo ancho--*/
    padding: 20px 10px;/*--tamaño del recuadro en altitud y espacio entre lados--*/
    background-color: #ee9106;/*--color de fondo--*/
    position: absolute;/*--para poderlo mover--*/
    border-radius: 20px; /*--configurar borde del recuadro del fondo--*/
}
.contenedor_login_y_register form h2{
    font-size: 30px;     /*--tamaño de los h2--*/
    text-align: center;  /*--centra los h2-*/
    margin-bottom: 20px;  /*--crea espacios entre losbotones y el texto-*/
    color: #1c1d14;    /*--color al texto h2 registrarse-*/
}

.contenedor_login_y_register form input{
    width: 100%;
    margin-top: 10px;   /*--da espacio entre los input-*/
    padding: 10px;      /*- tamaño de los recuadros del input--*/
    background-color: rgb(78, 81, 82); /*--color para los recuadros del input-*/  
 /*- border:none;    es para eliminar los bordes de los recuadros*/
}

.contenedor_login_y_register form button{
    padding: 5px 40px;/*le da tamaño al boton */
    margin-top: 20px;   /*espacio al boton registrarse*/
    border: 2px solid rgb(12, 12, 12);/*color al borde del button */
    background: rgb(80, 25, 47);/*color de fondo al boton */
    color: rgb(158, 147, 148);/*color del texto blanco del boton */
    cursor: pointer;    /*manita al boton */
}
/*-------------agregar solo los nombres de las CLASES en formularios se encuentran */
 /*con estos 2 metodos elimina o esconde el block o none los dos formularios de iniciar y registrarse */
.login {
    opacity: 1;
    display: block;
}
.register {        
    display: none;
}

